<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Helpdesk</title>
    <style>
        * {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .wrapper {
            position: relative;
            width: 500px;
            height: auto;
            background: rgba(255, 255, 255, 0.7);
            border-radius: 3rem;
            padding: 40px;
            box-shadow: 0 0 50px #0ef;
            overflow: hidden;
        }

        .wrapper:hover {
            animation: animate 1s linear infinite;
        }

        @keyframes animate {
            100% {
                filter: hue-rotate(360deg);
            }
        }

        h1 {
            text-align: center;
            font-size: 30px;
            margin-bottom: 20px;
            color: #333;
        }

        .input-field {
            position: relative;
            margin-bottom: 15px;
        }

        .input-field i {
            position: absolute;
            left: 10px;
            top: 65%;
            transform: translateY(-50%);
            color: gray;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        .input {
            background: transparent;
            width: calc(100% - 20px);
            padding: 8px 40px 8px 30px;
            margin: 8px 0;
            border: none;
            display: inline-block;
            border-bottom: 1px solid #080404;
            font-size: 16px;
        }

        .checkbox-field {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        input[type="checkbox"] {
            margin-right: 5px;
        }

        .forgot-password {
            display: block;
            text-align: right;
            margin-top: 10px;
            color: #333;
            text-decoration: none;
        }

        .google-login {
            text-align: center;
            margin-top: 20px;
            color: #333;
        }

        .google-icon {
            font-size: 24px;
            margin: 0 10px;
            text-decoration: none;
        }

        .google-icon:hover {
            color: #000;
        }

        .signup {
            text-align: center;
            margin-top: 20px;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        a:hover {
            color: #007bff;
        }

        .error {
            color: red;
            font-size: 12px;
            margin-top: 5px;
            display: block;
        }

        button {
            background-color: rgba(93, 122, 167, 0.5);
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border-radius: 25px;
            cursor: pointer;
            width: 100%;
        }

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="wrapper">
        <h1>RGIPT Campus Helpdesk</h1>

        <form action="/login" , method="post">

            <div class="input-field">
                <label for="username">Email id (college)</label>
                <input type="email" name="username" id="username" class="input" required>
                <i class="fas fa-user"></i>
            </div>

            <div class="input-field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="input" required>
                <i class="fas fa-lock"></i>
            </div>

            <div class="checkbox-field">
                <input type="checkbox" name="remember_me" id="remember_me">
                <label for="remember_me">Remember me</label>
            </div>

            <button>LOGIN</button>
            <a href="#" class="forgot-password">Forgot password?</a>
        </form>

        <div class="google-login">
            <a href="#" class="google-icon">Login with Google <i class="fab fa-google"></i></a>
        </div>

        <nav class="signup">Don't have an account? <a href="/register">Sign Up</a></nav>
    </div>
</body>

</html>
